* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body {
    padding-left: 70px;
    padding-right: 70px;
}

header {
    width: 100%;
    height: 1080px;
}

section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

nav > a{
    margin-left: 50px;
    color: rgba(68, 89, 100, 1);
}

#divLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#divLogo h1 {
    margin-left: 10px;
    color: rgba(68, 89, 100, 1);
}

#sectionHome {
    display: flex;
    flex-direction: row;
    color: rgba(68, 89, 100, 1);
}

#sectionHome div {
    margin-top: 120px;
}

#sectionHome p {
    font-size: 24px;
}

#sectionHome h1 {
    font-size: 72px;
}

#sectionHome button {
    border: none;
    width: 310px;
    height: 65px;
    background-color: rgba(38, 49, 56, 1);
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
}

#sectionHome img {
    margin-right: 50px;
}

#HomeImage {
    width: 700px;
    height: 700px;

    margin-top: 120px;
}

#sectionAbout {
    margin-top: 120px;

    display: flex;
    flex-direction: column;

}

#sectionAbout img {
    width: 220px;
    height: 220px;
}

#sectionAbout h1 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: rgba(68, 89, 100, 1);
}

#sectionAbout span {
    color: rgba(26,31,38);
}

#sectionAbout p {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

#sectionAbout ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    padding: 50px;

    list-style: none;
}

#sectionAbout li {
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    color: rgba(68, 89, 100, 1);
}

#sectionAbout ul img {
    margin-top: 15px;
    width: 200px;
    height: 40px;
}

#sectionTechs {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

#sectionTechs h1 {
    font-size: 65px;
    line-height: 75px;
    color: rgba(38, 49, 56, 1);
    margin-bottom: 150px;
}

#sectionTechs span {
    color: rgba(68, 89, 100, 1);
}

#sectionTechs p {
    font-size: 24px;
    line-height: 28px;
    color: rgba(68, 89, 100, 1);
}

#sectionTechs h4 {
    font-size: 36px;
    line-height: 44px;
    color: rgba(68, 89, 100, 1);
    margin-bottom: 50px;
}

#sectionTechs h4 > span {
    color: rgb(26,31,38);
}

#sectionTechs ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

#sectionTechs li {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
}
#sectionExperiencia{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

#sectionExperiencia div{
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 350px;
    margin-bottom: 100px;
    justify-content: flex-start;
}

#sectionExperiencia div > p{
    margin-right: 50px;
    text-align: end;
}

#sectionExperiencia p {
    font-size: 24px;
    color: rgba(68, 89, 100, 1);
    max-width: 350px;
    text-align: right;
}

#sectionExperiencia p > span{
    color: rgba(0, 0, 0, 1);
}

#sectionExperiencia h1 {
    font-size: 64px;
    color: rgba(68, 89, 100, 1);
}

#sectionExperiencia h1 > span {
    color: rgba(0, 0, 0, 1);
}

#sectionExperiencia ul {
    list-style: none;
}

#sectionExperiencia li {
    width: 530px;
    height: 280px;
    background-color: rgba(68, 89, 100, 1);
    border-radius: 20px;
}

#detalheAspas {
    margin-top: 50px;
}
#sectionExperiencia h3 {
    font-size: 36px;
    text-align: center;
    color: rgba(38, 49, 56, 1);
    margin-bottom: 50px;
}
